<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid Risk Calculator</title>
</head>
<body>
{{msg}}<br>
<form id="input" action="/submit_house" method="POST">
    <input name="text">
    <br>Has covid?<input type="checkbox" name="covid" >
    <input type="submit">
</form>

<form id="input" action="/submit_friends" method="POST">
    <br>Friend 1
    <input name="friend1">
    <br>Friend 2
    <input name="friend2">
    <input type="submit">
</form>
{{Friends}}<br>

</body>
</html>