<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid Risk Calculator</title>
</head>
<body>
{{msg}}<br>
<h3>Register a new house</h3>



<div id="house_form">
    <form id="input" action="/submit_house" method="POST">

    <input name="address" placeholder="Home Address"><br>
    <input name="member1" placeholder="Housemate 1"><input type="checkbox" name="covid-1" ><br>
    <input name="member2" placeholder="Housemate 2"><input type="checkbox" name="covid-2" ><br>
    <input name="member3" placeholder="Housemate 3"><input type="checkbox" name="covid-3" ><br>
    <input name="member4" placeholder="Housemate 4"><input type="checkbox" name="covid-4" ><br>
    <input type="submit">
</form>


</div>



</body>
</html>